.navbar
{
    background-color: rgb(13, 180, 190);
}
.nav-link
{
    color: white;
    font-weight: 400;   
}
.nav-link:hover
{
    background-color: rgb(54, 203, 212);
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.navbar-brand
{
    color: white;
    font-size: 30px;
}
hr
{
    width: 60%;
}
.btn:hover
{
    background-color: rgb(13, 180, 190);
}
.fa-heart
{
    font-size: 60px;
    font-weight: bold;
    color: rgb(13, 180, 190);
}
.fa-desktop
{
    font-size: 60px;
    font-weight: bold;
    color: rgb(13, 180, 190);
}
.fa-paper-plane
{
    font-size: 60px;
    font-weight: bold;
    color: rgb(13, 180, 190);
}
.sy
{
    color: rgb(115, 244, 252);
}